## Import Statements

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import xgboost as xgb
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')

/usr/local/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

## Load data

In [55]:
train_df=pd.read_csv('train.csv')

In [56]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [57]:
# Turn MSSubClass levels into dummy variables
dummy_df=pd.get_dummies(train_df['MSSubClass'])
train_df = train_df.join(dummy_df)
train_df=train_df.drop('MSSubClass',axis=1)

In [58]:
dummy_df=pd.get_dummies(train_df['MSZoning'])
train_df = train_df.join(dummy_df)
train_df=train_df.drop('MSZoning',axis=1)

In [59]:
dummy_df=pd.get_dummies(train_df['Street'])
train_df = train_df.join(dummy_df)
train_df=train_df.drop('Street',axis=1)

In [52]:
train_df['Alley'].value_counts()

Grvl    50
Pave    40
Name: Alley, dtype: int64

In [64]:
dummy_df = pd.get_dummies(train_df['Alley'],dummy_na=True)
dummy_df.head()

   Grvl  Pave  NaN
0     0     0    1
1     0     0    1
2     0     0    1
3     0     0    1
4     0     0    1

In [67]:
train_df = train_df.merge(dummy_df, how = 'left')
train_df = train_df.drop('Alley',axis=1)

In [68]:
train_df.head()

,Id,LotFrontage,LotArea,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,180,190,C (all),FV,RH,RL,RM,Grvl,Pave,nan
0,1,65.0,8450,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,0,0,0,0,0,1,0,0,1,0
1,1,65.0,8450,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,0,0,0,0,0,1,0,0,1,0
2,1,65.0,8450,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,0,0,0,0,0,1,0,0,1,0
3,1,65.0,8450,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,0,0,0,0,0,1,0,0,1,0
4,1,65.0,8450,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,0,0,0,0,0,1,0,0,1,0